/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 24rem 0;
  background-size: cover;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  
    background-position: center;
    /* background-size: cover; */
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
