/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 24rem 2rem !important ;
  background-size: cover !important;
  text-align: center !important;
  position: relative !important;
  overflow: hidden;
  background-repeat: no-repeat !important;
  
    background-position: center !important;
    /* background-size: cover; */
}


@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
