/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4465D8;
  --ifm-color-primary-dark: #4465D8;
  --ifm-color-primary-darker: #4465D8;
  --ifm-color-primary-darkest: #4465D8;
  --ifm-color-primary-light: #4465D8;
  --ifm-color-primary-lighter: #4465D8;
  --ifm-color-primary-lightest: #4465D8;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #4465D8;
  --ifm-color-primary-dark: #4465D8;
  --ifm-color-primary-darker: #4465D8;
  --ifm-color-primary-darkest: #4465D8;
  --ifm-color-primary-light: #4465D8;
  --ifm-color-primary-lighter: #4465D8;
  --ifm-color-primary-lightest: #4465D8;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-hero-background-color: #000000 !important;
  --ifm-footer-background-color:#000000 !important;
  --ifm-navbar-background-color: #000000 !important;
}
[data-theme='dark'] {

  .navbar--fixed-top{
    background-color: #000000 !important;
   }

.heroBanner_src-pages-index-module{
  background-color: #000000 !important;
}
.features_t9lD{
  background-color: #000000 !important;
}


.features_src-components-HomepageFeatures-styles-module{
   background-color: #000000 !important;
   padding: 5rem 0rem important;
}

.hero__title{
  color:white !important;
}
.hero__subtitle{
  color:white !important;
}
}
.footer{
  border-top: 1.25px solid rgba(179, 179, 179) !important;
  background-color: #000000 !important;
}